
@media (max-width: 1000px) {
    #mapa{
        flex-direction: column;
    }
    #mapa div{
        max-width: 100%;
    }    
}

@media (max-width: 600px){
    .cabecera{
        display: grid;
        width: 100%;
        text-align: center;
    }

    .enlace{
        padding: 5px;
        width: 100%;
    }

    .enlace button{
        width: 200px;
    }

    .foto{
        max-width: 95%;
    }

    .cuadricula{
        grid-template-columns: 1fr;
    }
}

@media print{
    html, head, body, .titular{
        background-color: white;
    }

    .cabecera{
        display: none;
    }

    .aviso_legal{
        display: flex;
        color: crimson;
        gap: 20px;
    }

    .aviso_legal img{
        max-height: 50px;
    }

    .titular{
        font-size: 1.6rem;
        color: black;
    }

    .foto{
        max-height: 200px;
    }

    .contenido{
        font-size: 1rem;
    }
    
    #mapa{
        flex-direction: column;
    }
}
