html, head, body{
    background-color: lightsteelblue;
}

.aviso_legal{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.cabecera{
    width: 100%;
    background-color: cadetblue;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}

.enlace{
    width: 20%;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.titular{
    width: 100%;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: darkcyan;
}

.foto{
    align-content: center;
    padding: 20px;
    border-radius: 100px;
    max-height: 500px;
    max-width: 100%;
}

.contenido{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: transparent;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}

.cuadricula{
    background-color: transparent;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.cuadricula img{
    max-width: 95%;
}

.cuadricula div{
    display: flex;
    flex-flow: column wrap;
}

#mapa{
    flex-direction: row;
}

#mapa div{
    max-width: 50%;
    padding: 20px;
}